
.login{
    background-color: rgb(91, 74, 240);
    color:white;
  
}
#root{
    width:70%;
    margin:0 auto;
}
.container-fluid{
    height:611px;
    background-color: rgb(91, 74, 240);
}
input{
    margin-bottom: 15px;
    width: 100%;
    font-size: 20px;
    padding: 10px;
    color:black;
  
}
label{
    font-size: 20px;
}

button{
  margin-top: 20px
}

.logreg{
    text-align: center;
    font-size:24px;
    font-weight: 900;
}

.btnLogin{
    color: white;
    margin-bottom:20px;
}